body{
border: 2px solid;
background-color: rgb(243, 171, 84);
margin: 10px;
font-family: italic;
text-align: center ;
}


.box {
h1 {
margin-bottom: 20%;
box-shadow: 10px 10px 10px 10px;
background-color: rgb(7, 74, 74);
width:  600px;
border-radius: 5%;
font-size: 34px;
text-align:center;
font-family: Arial, Helvetica, sans-serif;
display: inline-block ;
h1  }
}


.box{
h2{
margin: 10px;
text-shadow: 30px;
box-shadow: 10px 10px 10px 10px;
border-radius: 5%;
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(220, 111, 173);
width:  600px;
font-size: 35px;
display: inline-block;
padding: 10px;

h2 }
}


.box{
h3{;
    font-family: Arial, Helvetica, sans-serif;
     box-shadow: 10px 10px 10px ;
     border-radius: 5%;
     background-color:tomato;
     width:  600px;
     height: 600px;
     font-size: 35px;
     display: inline-block;
     padding: 10px;

h3 }
}